* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.btn {
  background-image: url("../images/fundo-btn.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.btn-orange {
  background-image: url("../images/btn-orange.svg");
}

.btn-black {
  background-image: url("../images/fundo-btn-b.svg");
}

.section-materia-prima {
  background-image: url("../images/materia-prima.webp");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;

  @media (max-width: 768px) {
    background-image: url("../images/materia-prima-m.webp");
    background-position: bottom center;
    background-size: cover;
    padding: 70px 0;
  }
}

.bg-pilares {
  background-image: url("../images/fundo_pilares.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 1024px) {
    background-size: cover;
    background-position: left;
  }
}

.bg-contact {
  background-image: url("../images/fale-conosco.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
